html,body{
  height: 100%;
  width: 100%;
<<<<<<< HEAD

=======
  
>>>>>>> 4ba358a2493c013878e635a575856d373da83701
  scroll-behavior: smooth;
  font-family: 'Ubuntu', sans-serif;

  background-image: url("https://cdn.suwalls.com/wallpapers/abstract/purple-blur-45795-1920x1080.jpg");
<<<<<<< HEAD
  background-size: auto 100%;

  color: #fff;
}

h1{ font-size: 4rem; }
h2{  }
h3{ }
=======
  background-size: 300%;

  color: #fff;
}
>>>>>>> 4ba358a2493c013878e635a575856d373da83701
