/* reset  */
* {
  box-sizing: border-box;
}

body { 
  line-height: 1; 
}

ul { 
  list-style: none; 
}

p { 
  margin: 0; 
}

figure { 
  margin: 0; 
} 

button {
  cursor: pointer;
}

h1,h2,h3 {
  margin: 0;
  line-height: 1;
}

a { 
  text-decoration: none;
}
