@import "../../styles/mixins/mixins.scss";

#search, #movies{
    width: 100vw;
    height: 100vh;
}


.search-container, .movies-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    form{
        @include searchbar;
    }
    h1{
        margin-bottom:2.5rem;
    }
    h3 {
        align-self: flex-start;
        margin-left: 9rem;
    }

    button, #scroll-btn, #search-btn{
        @include button-teal;
    }
}

.movies-section{
    @include container-style;
    margin-top: 10px;
    margin-bottom: 31px;
}
#search-btn{
    position: absolute;
    top: 90vh;
    left: 42.9vw;
}
