@import "../../styles/mixins/mixins.scss";

#search{
    width: 100vw;
    height: 100vh;
}

#movies{
    width: 100vw;
    height: max-content;
}


.search-container, .movies-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    form{
        @include searchbar;
    }
    h1{
        margin-bottom:2.5rem;
    }
    h3 {
        align-self: flex-start;
        margin-left: 9rem;
    }

    button, #scroll-btn, #search-btn{
        @include button-teal;
    }
}

.search-container{
    justify-content: center;
}

.movies-section{
    @include container-style;
    margin-top: 10px;
    margin-bottom: 31px;

    overflow-x: scroll;
    
    .movie-content{
        display: flex;

        img{
            height: 20rem;
            border: 1px solid white;
        }

        .card{
            display: flex;
            flex-direction: column;
            align-content: center;
            margin-right: 2rem;

            h3{
                margin: 0;
            }
        }
    }
}

ul{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}
#search-btn{
    position: absolute;
    top: 90vh;
    left: 42.9vw;
}
