$color-blue: #44CBFF;
$color-blue-disabled: #2eacdd;
$color-violet-hover: #CEAFFF;

$color-pink: #FC36FF;
$color-indigo-hover: #90B0FF;

$color-dark-purple: rgba(33, 16, 60, 0.4);

//Root colors

$black: #000000;
$white: #FFF;