@mixin button-teal{
  text-align: center;
  color: #44CBFF;
  border: 1px solid #44CBFF;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem 1rem;

  width: 12rem;

  transition: 0.5s;

  &:hover{
    color: #ceafff;
    border: 1px solid #ceafff;
    transition: 0.5s;
  }
}

@mixin button-purple{
  text-align: center;
  color: #EC49FF;
  border: 1px solid #EC49FF;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem 1rem;

  width: 12rem;

  transition: 0.5s;

  &:hover{
    color: #75fff6;
    border: 1px solid #75fff6;
    transition: 0.5s;
  }
}

@mixin container-style{
  width: 80%;
  border: 2px solid;
  border-image: linear-gradient(180deg, #FC36FF, #44CBFF) 1;
  background-color: rgba(33, 16, 60, 0.4);

  padding: 2rem;
}
