@mixin button-teal{
  text-align: center;
  color: $color-blue;
  border: 1px solid $color-blue;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem 1rem;

  width: 12rem;

  transition: 0.5s;

  &:hover{
    color: $color-violet-hover;
    border: 1px solid $color-violet-hover;
    transition: 0.5s;
  }

}
@mixin button-teal-disabled{
  background-color: $color-blue-disabled;
  border-color: $color-blue-disabled;
  color: $white;
  
  pointer-events: none;
  cursor: auto;
}

@mixin button-pink{
  @include button-teal;
  margin-left: 0;
  color: $color-pink;
  border-color: $color-pink;

  &:hover{
    color: $color-indigo-hover;
  }
}

@mixin button-purple{
  text-align: center;
  color: #EC49FF;
  border: 1px solid #EC49FF;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem 1rem;

  width: 12rem;

  transition: 0.5s;

  &:hover{
    color: #75fff6;
    border: 1px solid #75fff6;
    transition: 0.5s;
  }
}

@mixin container-style{
  width: 80%;
  border: 2px solid;
  border-image: linear-gradient(180deg, $color-pink, $color-blue) 1;
  background-color: $color-dark-purple;

  padding: 2rem;
}
